.mediaLibrary {
  &__editor {
    .ant-upload.ant-upload-select-picture-card {
      margin: 0 auto 10px;
    }

    .avatar-uploader > .ant-upload {
      width: 128px;
      height: 128px;
    }

    .ant-row {
      margin-bottom: 12px;
    }

    .imageInfo {
      margin: 0 0 0;
      color: rgba(0, 0, 0, 0.45);
      text-align: center;
    }
  }

  &__gallery {
    &__row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .ant-upload-list-picture-card {
        width: 32%;
        display: flex;
        justify-content: center;
      }

      .ant-upload-list-item-done {
        float: left;
        width: 100%;
        max-width: 150px;
        height: 150px;
        margin: 0 5px 5px 0;

        img {
          width: 100%;
        }
      }
    }

    &__img {
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
    }

    .ant-pagination {
      display: flex;
      justify-content: center;
    }
  }
}
