body {
  overflow: hidden;
}

.ant-breadcrumb-separator,
.ant-breadcrumb-link {
  color: white;
}

.ant-layout-header {
  background: white;

  .ant-breadcrumb-link {
    color: rgba(0, 0, 0, 0.65);
  }
}

.ant-layout-footer {
  padding-top: 0;
}

.contentHolder {
  overflow-y: scroll;
  overflow-x: hidden;
}

.editor {
  & > .ant-row {
    display: flex;
    justify-content: stretch;
    min-height: calc(100vh - 100px);
  }

  .ant-col-16,
  .ant-col-8,
  .ant-col-18,
  .ant-col-6 {
    .ant-card {
      height: 100%;
      .ant-card-body {
        max-height: calc(98vh - 141px);
        height: 100%;
      }
    }
  }

  .ant-col-8, .ant-col-6 {
    .ant-card-body {
      overflow-y: scroll;
    }
  }
}

.formEditor {
  label {
    display: block;
    margin: 0.5em 0;
  }
}

.hSep {
  border: 0;
  height: 1px;
  margin: 1em auto;
  border-bottom: 1px solid #fdfdfd;
}

.dashBoard {
  .ant-card {
    height: 100%;
  }

  .ant-list-item {
    transition: 300ms ease;

    &:hover {
      // background: #f8f8f8;
      background: #f0fbff;
    }
  }

  h3 {
    color: #c6c6c6;
    margin-bottom: 24px;
    text-transform: uppercase;
    border-bottom: 1px solid #c6c6c6;
    padding-bottom: 16px;
    display: flex;
    align-items: c;
  }

  &__card {
    &__cont {
      height: 280px;
      overflow-y: scroll;
    }

    &__task {
      width: 100%;
      padding: 0 12px;
      overflow: hidden;

      &:hover {
        .dashBoard__card__task__hover {
          transform: translateY(0);
        }
      }

      &__main {
        display: flex;
        justify-content: space-between;
        padding-bottom: 8px;

        .dueDate {
          color: #c6c6c6;
          display: flex;
          align-items: center;
        }
      }

      &__detail {
        padding-left: 25px;
        display: flex;
        justify-content: space-between;

        & > div {
          display: flex;
          align-items: center;
        }

        .anticon {
          color: #c6c6c6;
          font-size: 19px;
          margin-right: 6px;
        }
      }

      &__desc {
        padding-left: 25px;
        padding-top: 12px;
      }

      &__hover {
        display: flex;
        justify-content: flex-end;
        transition: 300ms ease;
        transform: translateY(100%);
      }
    }

    &__btn {
      margin: 20px 0 0;
      display: flex;
      justify-content: center;
    }
  }
}

.chat {
  &Item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 10px;
    align-items: center;

    &--outgoing {
      .chatAvatar {
        order: 1;
      }

      .chatBubble {
        order: 2;
        &__content {
          background: #8c8c8c;
          border-radius: 5px 5px 5px 5px;
          &:after {
            content: '';
            width: 0px;
            height: 0px;
            position: absolute;
            border-left: 5px solid #0000;
            border-right: 5px solid #8c8c8c;
            border-top: 5px solid #8c8c8c;
            border-bottom: 5px solid #0000;
            left: -10px;
            top: 6px;
          }
        }
      }
    }

    &--incoming {
      .chatAvatar {
        order: 2;
      }

      .chatBubble {
        order: 1;
        &__content {
          background: #1890ff;
          border-radius: 5px 5px 5px 5px;

          &:after {
            content: '';
            width: 0px;
            height: 0px;
            position: absolute;
            border-left: 5px solid #1890ff;
            border-right: 5px solid transparent;
            border-top: 5px solid #1890ff;
            border-bottom: 5px solid transparent;
            right: -10px;
            top: 6px;
          }
        }
      }
    }
  }

  &Bubble {
    width: 85%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: 300ms ease;
    flex-wrap: wrap;

    &__content {
      position: relative;
      color: #fff;

      padding: 5px 10px;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &:hover {
      transform: translateY(-5px);
    }

    span {
      font-size: 12px;
      color: #c6c6c6;
      margin-bottom: px;
    }

    p {
      margin-bottom: 0;
    }
  }

  &Avatar {
    position: relative;
    border-radius: 50%;
    width: 10%;
    height: auto;
    // padding-top: 10%;
  }
}
