.mediaLibrary {
  &__editor {
    .ant-upload.ant-upload-select-picture-card {
      margin: 0 auto 10px;
    }

    .avatar-uploader > .ant-upload {
      max-width: 250px;
      min-width: 250px;
      min-height: 250px;
      height: auto;

      & img {
        max-width: 100%;
      }
    }

    .ant-row {
      margin-bottom: 12px;
    }

    .imageInfo {
      margin: 0 0 0;
      color: rgba(0, 0, 0, 0.45);
      text-align: center;
    }

    &__spin {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 200px;
      background: rgba(0, 0, 0, 0.15);
    }
  }

  &__gallery {
    &__row {
      .ant-upload-list-picture-card {
        width: 32%;
        display: flex;
        justify-content: center;
        background: red;
      }

      .ant-upload-list-item-done {
        float: left;
        width: 100%;
        max-width: 150px;
        height: 150px;
        margin: 0 5px 5px 0;

        img {
          width: 100%;
        }
      }
    }

    &__img {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }

    .ant-pagination {
      display: flex;
      justify-content: center;
    }
  }
}
